body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.name{
    position: absolute;
    left:75px;
    color: orange;
    
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
}

.navbar-links {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
    }
}
